body {
    font-family: "Inter", sans-serif;
  }
  
  body {
    margin: 0;
    background: linear-gradient(45deg, #116e47, #bbf067);
    font-family: sans-serif;
    font-weight: 100;
  }
  
 /* Header */
header {
  background: linear-gradient(45deg, #116e47, #bbf067) ;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
}

/* Body Grid */
.body-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
}

.box {
  
  padding: 20px;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

footer nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer nav li {
  display: inline;
  margin-right: 10px;
}

footer nav a {
  text-decoration: none;
  color: #fff;
}